/* ./src/styles/global.css */
@tailwind base;
@tailwind components;
@tailwind utilities;
*,
*:before,
*:after {
  box-sizing: inherit;
}
html {
  text-rendering: optimizeLegibility;
  overflow-x: hidden;
  box-sizing: border-box;
  -ms-overflow-style: scrollbar;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

::-webkit-scrollbar {
  width: 6px;
  background-color: #fdfdfd;
}
::-webkit-scrollbar-thumb {
  background-color: #7e22ce;
  outline: unset;
  border-radius: 50px;
}
::selection {
  color: #7e22ce;
  background-color: #eeeeee;
}
.dark ::selection {
  color: #fdfdfd;
  background-color: #7e22ce;
}
